@import "tailwindcss";

@font-face {
  font-family: 'nunitoSansRegular';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@theme {
  --font-sans: 'nunitoSansRegular';
}

:root {
  --background: #ffffff;
  --highlight: #5CD4FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FF0000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.hover-underline-animation {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation:hover {
  color: var(--highlight);
  transition: color 0.25s ease-out;
}