@import "tailwindcss";

@font-face {
  font-family: 'nunitoSansRegular';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@theme {
  --font-sans: 'nunitoSansRegular';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}